on:
  release:
    types:
      - published
  workflow_dispatch:

  #workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    if: ${{ github.event_name == 'release' || github.event_name == 'workflow_dispatch' }}

    steps:
      - name: "Checkout source code"
        uses: "actions/checkout@v4"

      - name: "Setup Java, Maven, and GPG Credentials"
        uses: "actions/setup-java@v4"
        with:
          java-version: "21"
          distribution: "temurin"
          cache: "maven"

          server-id: "central"
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD

          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: "Publish artifacts to Central Publisher Portal"
        run: mvn -pl api dokka:javadocJar deploy -Prelease -Denforcer.skip=true --batch-mode --no-transfer-progress
#        run: "mvn -pl api dokka:javadocJar --no-transfer-progress && mvn deploy --batch-mode --no-transfer-progress"
        env:
          MAVEN_USERNAME: ${{ secrets.CENTRAL_TOKEN_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.CENTRAL_TOKEN_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
